@charset "UTF-8";
.jumbotron {
  background-color: #481bb3bd;
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #481bb3bd;
  /*   margin-bottom: 0px;
  margin-top: 10px; */
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  /*lo que dice el 1 es que la propoiedad flex se quede intacta y se define el tamñano (ancho)*/
  padding: 2px 2px 0px 2px;
  /*TOP RIGHT BOTTOM LEFT FORMA MAS GENERICA DE USAR PADDINGS*/
  /* margin-top: 10px; */
  margin-top: 10px;
  margin-bottom: 0px; }

.progress {
  margin-top: 10px; }

.box {
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.card-columns {
  display: inline-flexbox; }

.tab-content {
  padding-top: 10px; }
